<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Chat App</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
<h1>Peer to peer chat program</h1>
<form th:action="@{/update}" method="post" th:object="${current}">
    <input type="hidden" th:field="${current.id}"/>
    <input type="text" value="title" th:field="*{userName}"/>
    <button type="submit">Update</button>
    <span th:if="${error}" th:text="${error}"/>
</form>
</body>
</html>